:root{
    --primarycolor:#FCEFDE;
    --secondarycolor:#014B53;
    --tertiarycolor:#D4F5C4;
    --comments:#827F7F;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primarycolor);
    font-family: "inclusive-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* header style */

header nav {
    background-color: var(--secondarycolor);
    color:var(--primarycolor);
    font-size: 18pt;
    
}

header nav a{ 
    text-decoration: none;
    color: var(--primarycolor);
}

.fa-bars{
    color:var(--primarycolor);
    font-size: 30px;
    padding-bottom: 20px;
}
.logocontainer{
    display: flex;
   
}


header nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 30px;
    
    
 
}


header nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap:25px;
    margin-top: 30px;
      
}

header nav{
    display: flex;
    justify-content: space-between;
}

header a:hover{
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
}

.hambr-container{
    display: flex;
    gap:12px;
    margin-right: 20px;
    margin-top: 30px;
}

/* main style  */


.banner-container{
    display: flex;
    flex-direction: rows;
    
   
    
}

.billede-container {
   
    display: flex;
    background-color: var(--secondarycolor);
    height: 500px;
    width: 700px;
    border-start-end-radius: 400px;
    border-start-start-radius: 400px;
    border-end-start-radius: 140px;
    margin-top: 100px;
    margin-left: 90px;
    position: relative;

   

}

.styl-citat{
    position: absolute;
    color: var(--primarycolor);
    left: 200px;
    top:100px;
}

.styl-img{
    margin-left: 100px;
    height: 400px;
    width: 600px;
    margin-top: 100px;
}

.styl-tit{
    padding-bottom: 30px;
  
    
}

.styl-text{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16pt;
    color: var(--secondarycolor);
    margin-top: 200px;
    text-align: center;

   
}


.styl-gratis-samtale{
    font-family: "inclusive-sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.styl-boksam{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    border-radius: 20px;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 300px;
    padding-top: 5px;
    margin-left: 10px;
}

.styl-boksam:hover{
        color:var(--tertiarycolor);
        font-size: 18pt;

}




.content-container{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--secondarycolor);

}

.img-container{
    height: 400px ;
    width: 400px;
    background-color: red;
    
    
}

.content-styl-img{

    width:100%;
    height:100%;
    object-fit:cover;      
    object-position:center;
    display:block
    /* height: 400px;
    width:550px; */
     /* display: block;
    object-fit: fill;
    height: 200px;
    object-position: 50% 20%; */
} 


.content-styl-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 16pt;
    color:var(--primarycolor);
}
.content-styl-text p{
    line-height: 50px;
}




.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    margin-top: 40px;
}
.styl-btn{
    background-color:var(--primarycolor);
    color: var(--secondarycolor);
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 300px;

}

.fa-readme{
    padding-right: 40px;
}

.fa-podcast{
    padding-right: 40px;
}

.fa-square-youtube{
    padding-right: 20px;
}



.styl-btn:hover{
    font-size: 15pt;
    color: var(--secondarycolor);
}

.delhis-container{
    display: flex; 
    border: 3px solid var(--secondarycolor); 
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.bk-styl-img{
    display: flex;
    height: 300px;
    width: 300px;
    margin-right: 10px;

}

.text-brev-container{
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    line-height: 50px;
    text-decoration: none;
    color: var(--secondarycolor);
    margin-left: 20px;
    margin-top: 20px;

}

.styl-skrivhislink{
    text-decoration: none;
    color: var(--secondarycolor);
    font-weight: 800;

}

.styl-skrivhislink:hover{
    border-bottom: 2px solid var(--secondarycolor);

}

.footer-container{
    display: flex;
    flex-direction: column;
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    font-size: 12pt;
    margin-top: 50px;
   
}

.first-col{
    display: flex;
    padding-top: 50px;
    
    
}



footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;  
    gap:30px;
    margin-left: 100px;
    
}

footer ul li a {
    color :var(--primarycolor);
    text-decoration: none;
   

}
 footer ul li a:hover{
    border-bottom: 1px solid var(--primarycolor);
 }

footer p {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    margin-left: 80px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
    height: 200px;
    width: 400px;
    text-align: center;
    
}

footer p a{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-radius: 17px;
    margin-left: 20px;
    text-decoration: none;
    
}

.fa-envelope{
    padding-right: 30px;
}


.fa-arrow-right{
    font-size: 12px;
}



.fa-facebook-f{
    color: var(--primarycolor);
   font-size: 20pt;
   margin-right: 10px;
   
}

.fa-youtube{
    color: var(--primarycolor);
   font-size: 20pt;
   margin-right: 10px;

}

.fa-instagram{
   color: var(--primarycolor);
   font-size: 20pt;
   margin-right: 10px;

}

.fa-x-twitter{
    color: var(--primarycolor);
   font-size: 20pt;
   margin-right: 10px;

}



.kontaktinfo{
     display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}


.second-col{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--primarycolor);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
   
}



.styl-chat{
    background-color: var(--tertiarycolor);
    color: var(--secondarycolor);
     border-radius: 20px;
    font-family: "inclusive-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 250px;
    padding-top: 10px;
   

    position:fixed;
    left: auto;
    right:10px;
    bottom: 50px;
} 





/* temaer side  */


.temaer-header{
    display: flex;
    flex-direction: column;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    font-size: 16pt;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
}




.tema-container{
    display: grid;
    grid-template-columns: 300px 1fr;
}






/* .dep-flex-container{
    display: flex;
} */




main .temaer-header h2 {
    margin-left: 20px;
    margin-top: 20px;
}
 main .temaer-header p{
    margin-left: 30px;
    line-height: 50px;
 }

 main .tema-container ul{
    margin-top: 50px;
    margin-left: 30px;
    font-family: "inclusive-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16pt;
    list-style-type: none;
 }

 main .tema-container ul a{
    color: var(--secondarycolor);
    text-decoration: none;
 }

 .tema-container ul a:hover{
   border-bottom: 2px solid var(--secondarycolor);
}





 .right-side{
    display: flex;
    flex-direction: column;
    color: var(--secondarycolor);
    
 
}

.right-side video{
    height: 500px;
    width: 800px;
    margin-top: 50px;
    margin-left: 200px;


}

.right-side h2{
    font-size: 20pt;
    font-weight: 900;
    margin-left: 100px;
    margin-top: 20px;
}

.right-side h3{
    font-size: 18pt;
    margin-left: 100px;
    margin-top: 10px;

}
.right-side h4{
    font-size: 16pt;
    margin-left: 30px;
    

}
 .right-side ul li  {
    margin-left: 50px;
    margin-top: 2px;
    font-size: 14pt;
    margin-top: 0px;
    list-style-type:disc;

 }
.right-side ul{
    margin-left: 100px;

}

.right-side p {
    line-height: 30px;
    margin-left: 110px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 18pt;
    text-align: justify;
    
}
 























@media screen and (max-width:768px){

    .show{
        display: block; 
        position: relative;
        top:2px;
        left:0;
        background-color: var(--secondarycolor);
        width: 100%;

    }
    button#bars{
        background-color: transparent;
        border: none;
        color:var(--primarycolor);
    }

    .fa-search{
        font-size: 20px;
        margin-top: 15px;
    }

    header nav ul {
        display: none;
    }

    .billede-container{
        height: 300px;
        width: 400px;
        margin-left: 40px;
    }
    
    .styl-img{
        height: 250px;
        width: 450px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .styl-citat{
    position: absolute;
    color: var(--primarycolor);
    left: 100px;
    font-size: 14pt;
    top:50px;
}

.styl-text {
   margin-top: 50px;
   font-size: 16pt;
    
}

.banner-container{
    flex-wrap: wrap;
}

.billede-container{
    justify-content: center;
}
.styl-boksam{

    height: 50px;
    width: 200px;
    font-size: 14pt;
}
.content-container{
    flex-wrap: wrap;
}
.content-styl-text{
    flex-wrap: wrap;
}

.btn-container{
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}
.styl-btn{
    font-size: 12pt;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
    margin-right: 0px;
    height: 30px;
    width: 230px;
 
}

.styl-btn:hover{
    font-weight: 800;
    font-size: 12pt;
    
}


.fa-readme{
    padding-right: 10px;
}
.fa-podcast{
    padding-right: 10px;
}

.fa-square-youtube{
    padding-right: 10px;
}

.delhis-container{
    flex-wrap: wrap;

}

.text-brev-container{
    flex-wrap: wrap;

}

.footer-container{
    flex-wrap: wrap;
    
}



.first-col{
    flex-wrap: wrap;
   
}

.second-col{
    flex-wrap: wrap;
}

footer p {
    display: none;
    
}

footer ul{
    margin-left: 10px;
    font-size: 10px;
}




/* .skriv-btn-container{
    flex-wrap: wrap;
} */

}

@media screen and (min-width:768px){
    
#bars{
    display: none;
}
}