:root{
    --primarycolor:#FCEFDE;
    --secondarycolor:#014B53;
    --tertiarycolor:#D4F5C4;
    --comments:#827F7F;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primarycolor);
}

header nav{
    background-color: var(--secondarycolor);
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 600;
    color:var(--primarycolor);
    font-size: 18pt;
    
}

header nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px;
}