:root{
    --primarycolor:#FCEFDE;
    --secondarycolor:#014B53;
    --tertiarycolor:#D4F5C4;
    --comments:#827F7F;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primarycolor);
}

/* header style */

header nav {
    background-color: var(--secondarycolor);
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    color:var(--primarycolor);
    font-size: 18pt;
    
}

header nav a{ 
    text-decoration: none;
    color: var(--primarycolor);
}

.logocontainer{
    display: flex;
   
  
    
  
}

header nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 30px;
    
    
 
}


header nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap:25px;
    margin-top: 30px;
      
}

header nav{
    display: flex;
    justify-content: space-between;
}

header a:hover{
    border-bottom: 2px solid var(--primarycolor);
}

.hambr-container{
    display: flex;
    gap:12px;
    margin-right: 20px;
    margin-top: 30px;
}

/* main style  */


.banner-container{
    display: flex;
    justify-content: space-between;
    
}

.billede-container {
   
    display: flex;
    background-color: var(--secondarycolor);
    height: 500px;
    width: 700px;
    border-start-end-radius: 400px;
    border-start-start-radius: 400px;
    border-end-start-radius: 140px;
    margin-top: 100px;
    margin-left: 90px;
    position: relative;

}

.styl-citat{
    position: absolute;
    color: var(--primarycolor);
    left: 200px;
    top:100px;
}

.styl-img{
    margin-left: 100px;
    height: 400px;
    width: 600px;
    margin-top: 100px;
}

.styl-text{
   
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 16pt;
    color: var(--secondarycolor);
    margin-top: 250px;
    text-align: center;
}

.styl-gratis-samtale{
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 900;
}

.styl-boksam{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    border-radius: 20px;
     font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 300px;
    padding-top: 10px;
    margin-left: 10px;
}



main section a:hover{
        
        color:var(--tertiarycolor);
        font-size: 18pt;
}

/* .styl-chat{
    background-color: var(--tertiarycolor);
    color: var(--secondarycolor);
     border-radius: 20px;
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 250px;
    padding-top: 10px;
    margin-left: 350px;
   
    
    position:fixed;
    bottom: 50px;
}  */





@media screen and (max-width: 1000px){
    header nav ul {
        display: none;
    }

    .billede-container{
        height: 300px;
        width: 400px;
        margin-left: 40px;
    }
    
    .styl-img{
        height: 250px;
        width: 450px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .styl-citat{
    position: absolute;
    color: var(--primarycolor);
    left: 100px;
    font-size: 12pt;
    top:50px;
}
}