:root{
    --primarycolor:#FCEFDE;
    --secondarycolor:#014B53;
    --tertiarycolor:#D4F5C4;
    --comments:#827F7F;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primarycolor);
}

header nav {
    background-color: var(--secondarycolor);
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 600;
    color:var(--primarycolor);
    font-size: 18pt;
    
}

header nav a{ 
    text-decoration: none;
    color: var(--primarycolor);
}

header nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 20px;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap:25px;
    margin-top: 30px;
      
}


header nav{
    display: flex;
    justify-content: space-between;
}

header a:hover{
    border-bottom: 2px solid var(--primarycolor);
}

