:root{
    --primarycolor:#FCEFDE;
    --secondarycolor:#014B53;
    --tertiarycolor:#D4F5C4;
    --comments:#827F7F;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primarycolor);
}

/* header style */

header nav {
    background-color: var(--secondarycolor);
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    color:var(--primarycolor);
    font-size: 18pt;
    
}

header nav a{ 
    text-decoration: none;
    color: var(--primarycolor);
}

.logocontainer{
    display: flex;
   
  
    
  
}

header nav img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px 30px;
    
    
 
}


header nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap:25px;
    margin-top: 30px;
      
}

header nav{
    display: flex;
    justify-content: space-between;
}

header a:hover{
    border-bottom: 2px solid var(--primarycolor);
}

.hambr-container{
    display: flex;
    gap:12px;
    margin-right: 20px;
    margin-top: 30px;
}

/* main style  */


.index-container{
    display: flex;
   
   
    
}
  
.persons-content{
    display: flex;
    height: 500px;
    width: 700px;
   background-color: var(--secondarycolor);
   position: absolute;
   margin-left: 100px;
   border-start-end-radius: 400px;
   border-start-start-radius: 400px;
   border-end-start-radius: 140px;
   margin-top: 50px;
  
 
}

 .styl-img-persons{
    height: 400px;
    width: 600px;
    position:absolute;
    top: 100px;
    left: 100px;
    /* display: flex; */
}


 .styl-heading1{
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    color:var(--primarycolor);
    font-size: 18pt;
    position: absolute;
    top: 100px;
    left:200px;
    z-index: 10;
    
}


.index-citat{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 900px;
    top: 350px;
    right: 100px;

    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 18pt;
    color: var(--secondarycolor);
    text-align: center;
    
}

.styl-gratis-samtale{
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 900;
}

.styl-boksam{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    border-radius: 20px;
     font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 300px;
    padding-top: 10px;
    margin-left: 100px;
}

main section a:hover{
        
        color:var(--tertiarycolor);
        font-size: 18pt;
}

.styl-chat{
    background-color: var(--tertiarycolor);
    color: var(--secondarycolor);
     border-radius: 20px;
    font-family: "corsario-variable", sans-serif; 
    font-variation-settings: "opsz" 48, "wght" 400;
    font-size: 16pt;
    text-decoration: none;
    height: 50px;
    width: 250px;
    padding-top: 10px;
    margin-left: 350px;
   
    
    position:fixed;
    bottom: 50px;
}





@media screen and (max-width: 1000px){
    header nav ul {
        display: none;
    }
    
}